.full-height {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

#playarea {
    background-color: rgb(95, 95, 95);
}

#transaction {
    background-color: #e3e3e3;
}

.row.one-third {
    height: 33.3%;
    background-color: #e3e3e3;
}

.row.two-third {
    height: 66.6%;
}